body{
    background-image: url("g.png");
    background-repeat: repeat-x;
    background-position-x: 0px;
    background-attachment: fixed; 
}
h1{
    color: #a82e7f;
    text-align: center;
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-size: 50px
}
.c1{
    font-size: 20px;
    font-family: 'amatic sc';
    text-align: center;
    color: #a82e41;
}
article section h3,h4{
    font-size: 25px;
    font-family: 'amatic sc';
    text-align: center;
}
p{
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    font-size: 15px;
    color: #340e14;
    text-align: center;
}
.a1{
    border-style: dashed; 
    margin: 2cm 30px 2cm 30px;
    padding: 10px 50px 10px 50px;
}
.a2{
    border: 5px double black;
    margin: 4vw 2vh 4vw 2vh;
    padding: 10px 50px 10px 50px;
}
.a3{
    border: 5px solid black;
    margin: 10px 30px 10px 30px;
    padding: 10px 50px 10px 50px;
    font-family: 'amatic sc';
    font-size: 20px;
}
.a4{
   border: 5px dotted black; 
   margin: 10px 30px 10px 30px;
   padding: 10px 50px 10px 50px;
   font-family: 'amatic sc';
   font-size: 20px;
}
.a5{
    border: 5px outset grey;
    margin: 10px 30px 10px 30px;
    padding: 10px 50px 10px 50px;
    font-family: 'amatic sc';
    font-size: 20px;
}